<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>JobsCalc</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/job.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />


</head>

<body id="page-job">

    <!--aqui faz o mesmo include do profile, entretanto ele passa um obejto title diferente-->
    <!-- já que o titulo será diferente -->
    <%- include('parts/page-header', { title: 'Adicionar Uma Nova Linha'}) %>

        <div class="container flex animate-up delay-2">
            <main>
                <form id="form-row" action="/Row" method="POST">
                    <fieldset>
                        <legend>Dados da Linha</legend>
                        <div class="separator light"></div>

                        <div class="input-wrapper">
                            <label for="UNIORG">Uniorg</label>
                            <input type="text" id="UNIORG" name="UNIORG" />
                        </div>
                        <div class="input-wrapper">
                            <label for="NOME_AGENCIA">Nome Da Agência</label>
                            <input type="text" id="NOME_AGENCIA" name="NOME_AGENCIA" />
                        </div>
                        <div class="input-wrapper">
                            <label for="ENDERECO">Endereço</label>
                            <input type="text" id="ENDERECO" name="ENDERECO" />
                        </div>
                        <div class="input-wrapper">
                            <label for="CIDADE">Cidade</label>
                            <input type="text" id="CIDADE" name="CIDADE" />
                        </div>

                        <div class="input-group">
                            <div class="input-wrapper">
                                <label for="TIPO">Tipo</label>
                                <input type="text"  id="TIPO" name="TIPO" />
                            </div>

                            <div class="input-wrapper">
                                <label for="AMBIENTE">Ambiente</label>
                                <input type="text" id="AMBIENTE" name="AMBIENTE" />
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label for="ANDAR">Andar</label>
                            <input type="text"  id="ANDAR" name="ANDAR" />
                        </div>
                        <div class="input-group">
                            <div class="input-wrapper">
                                <label for="CAPACIDADE">Capacidade</label>
                                <input type="text"  id="CAPACIDADE" name="CAPACIDADE" />
                            </div>

                            <div class="input-wrapper">
                                <label for="QUANTIDADE">Quantidade</label>
                                <input type="text" id="QUANTIDADE" name="QUANTIDADE" />
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <label for="MANTENEDORA">Mantenedora</label>
                            <input type="text" id="MANTENEDORA" name="MANTENEDORA" />
                        </div>

                        <div class="input-wrapper">
                            <label for="VENCIMENTO_RECARGA">Vencimento / Recarga</label>
                            <input type="date" id="VENCIMENTO_RECARGA" name="VENCIMENTO_RECARGA" placeholder="none" />
                        </div>

                        <div class="input-wrapper">
                            <label for="TESTE_HIDROSTATICO">Teste Hidrostático</label>
                            <input type="date" id="TESTE_HIDROSTATICO" name="TESTE_HIDROSTATICO" placeholder="none" />
                        </div>

                        <div class="input-wrapper">
                            <label for="MEMORIAL">Memorial</label>
                            <input type="text" id="MEMORIAL" name="MEMORIAL" />
                        </div>
                            
                    </fieldset>

                </form>
            </main>
            <aside class="card">
                <img src="/images/money-gray.svg" alt="Imagem de Dinheiro">
                <p>
                    Preencha os dados ao lado para ver o valor do projeto
                </p>
                <div class="button-group">
                    <button class="button green" form="form-row" type="submit" title="Salvar Dados">Salvar</button>
                    <a href="/" class="button gray">
                        <img src="/images/trash-24.svg" alt="Cancelar cadastro" title="Cancelar cadastro">
                    </a>
                </div>
            </aside>

        </div>
        <!-- end container -->
</body>

</html>